# Longest Common Subsequence Algorithm Implementations
(Using Recursive, Memoization and Dynamic Programming Approaches)

    *************************************************************
    Author:  Adeyemi Adedoyin Simeon
    Program: MSc, Computer Science, University of Ibadan
    Course:  Design and Analysis of Algorithms
    Date:    5th May, 2019
    Version: 1.2
    E-mail:  adeyemi.sa1@gmail.com
    *************************************************************
    
    *Note: Please reference the author whenever and wherever you use all/portion of this code*

## Recursive Approach

In [86]:
%%timeit
def RecursiveLCS(A,B,i,j):
    #i and j are starting index of A and B respectively
    if(i > (len(A)-1) or j > (len(B)-1)):
        return 0
    elif(A[i] == B[j]):
        return 1 + RecursiveLCS(A,B,i+1,j+1)
    else:
        return max(RecursiveLCS(A,B,i+1,j), RecursiveLCS(A,B,i,j+1))

114 ns ± 3.71 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### Evaluations

In [7]:
Str1 = "LONGEST"
Str2 = "STONE"

In [8]:
print("Result = ", RecursiveLCS(Str1,Str2,0,0))

Result =  3

In [9]:
S1 = "ACTCAGCCGTGCCTA"
S2 = "CGTCCTCTAGGTACCA"

In [10]:
print("Result = ", RecursiveLCS(S1,S2,0,0))

Result =  10

In [11]:
S1 = "abdace"
S2 = "babce"

In [12]:
print("Result = ", RecursiveLCS(S1,S2,0,0))

Result =  4

## Memoization Approach

In [87]:
%%timeit
def Memoized_LCS(S1,S2,n,m,DP):
    
    if(n == 0 or m == 0):
        return 0

    # If state is already computed, use value
    if(DP[n-1][m-1] > -1):
        return DP[n-1][m-1]

    # there is a match, store value in memory(DP)
    # to avoid repetition
    elif(S1[n-1] == S2[m-1]):
        DP[n-1][m-1] = 1 + Memoized_LCS(S1,S2,n-1,m-1,DP)
        return DP[n-1][m-1]
    
    else:
        DP[n-1][m-1] = max(Memoized_LCS(S1,S2,n-1,m,DP), Memoized_LCS(S1,S2,n,m-1,DP))
        return DP[n-1][m-1]

112 ns ± 6.52 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### Evaluations of MemoizedLCS Algorithm

In [77]:
Str1 = "STONE"
Str2 = "LONGEST"
n = len(Str1)
m = len(Str2)
# initialize memory array values to -1
table = np.ones((n,m)) * -1

answer = Memoized_LCS(Str1, Str2, n, m, table)
print("\nLength of maximum LCS = {num}".format(num=answer))
print('\n\n Snapshot of Memory:')
table = pd.DataFrame(table, index=list(Str1), columns=list(Str2),dtype=int)
table

Length of maximum LCS = 3.0


 Snapshot of Memory:

   L  O  N  G  E  S  T
S  0  0  0  0  0  1 -1
T  0  0  0  0  0  1  2
O -1  1  1  1  1  1  2
N -1 -1  2  2  2  2  2
E -1 -1 -1 -1  3  3  3

### More Evalutions

In [83]:
S1 = "GTCGTCCG"
S2 = "TCGTTCTCCA"
n = len(S1)
m = len(S2)
# initialize memory array values to -1
table = np.ones((n,m)) * -1
answer = Memoized_LCS(S1, S2, n, m, table)
print("\nLength of maximum LCS = {num}".format(num=answer))
print('\n\n Snapshot of Memory:')
table = pd.DataFrame(table, index=list(S1), columns=list(S2),dtype=int)
table

Length of maximum LCS = 5.0


 Snapshot of Memory:

   C  G  T  C  C  T  C  T  C  C  A
A  0  0  0  0  0  0  0  0  0 -1  1
C  1  1  1  1  1  1  1  1  1  1  1
G  1  2  2  2  2  2  2  2  2  2  2
T  1  2  3  3 -1  3 -1  3  3  3  3
C  1  2  3  4  4  4  4  4  4  4  4
C  1  2  3  4  5  5  5  5  5  5  5
G -1  2  3  4  5  5  5  5  5  5  5

### More Evalutions

In [84]:
S1 = "babce"
S2 = "abdace"
n = len(S1)
m = len(S2)
# initialize memory array values to -1
table = np.ones((n,m)) * -1
answer = Memoized_LCS(S1, S2, n, m, table)
print("\nLength of maximum LCS = {num}".format(num=answer))
print('\n\n Snapshot of Memory:')
table = pd.DataFrame(table, index=list(S1), columns=list(S2),dtype=int)
table

Length of maximum LCS = 4.0


 Snapshot of Memory:

   a  b  d  a  c  e
b -1  1  1 -1 -1 -1
a  1  1  1  2 -1 -1
b -1  2  2  2 -1 -1
c -1 -1 -1 -1  3 -1
e -1 -1 -1 -1 -1  4

## Dynamic Programming (Bottom-Up) Approach

In [13]:
import numpy as np
import pandas as pd

In [88]:
%%timeit
def DynamicProgrammingLCS(A,B):
    # initializing Table
    A = ' ' + A
    B = ' ' + B
    table = np.zeros((len(A), len(B)))
    
    for i in range(1,len(A)):
        for j in range(1,len(B)):
            if(A[i] == B[j]):
                # current cell value = 1 + previous diagonal cell value
                table[i,j] = 1 + table[i-1,j-1]
            else:
                # current cell value = maximum(Left cell value, Top cell value )
                table[i,j] = max(table[i-1,j], table[i,j-1])
    
    max_val = table[(table.shape[0]-1),(table.shape[1]-1)]
    table = pd.DataFrame(table, index=list(A), columns=list(B),dtype=int)
    
    print("Length of maximum LCS = {num}".format(num=max_val))
    # print("\n")
    return table

78.4 ns ± 2.81 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

### Evaluations of Dynamic Prog.

In [15]:
Str1 = "STONE"
Str2 = "LONGEST"

In [16]:
DynamicProgrammingLCS(Str1,Str2)

Length of maximum LCS = 3.0

      L  O  N  G  E  S  T
   0  0  0  0  0  0  0  0
S  0  0  0  0  0  0  1  1
T  0  0  0  0  0  0  1  2
O  0  0  1  1  1  1  1  2
N  0  0  1  2  2  2  2  2
E  0  0  1  2  2  3  3  3

In [17]:
S1 = "ACTCAGCCGTGCCTA"
S2 = "CGTCCTCTAGGTACCA"

In [18]:
DynamicProgrammingLCS(S1,S2)

Length of maximum LCS = 10.0

      C  G  T  C  C  T  C  T  A  G  G  T  A  C  C   A
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0   0
A  0  0  0  0  0  0  0  0  0  1  1  1  1  1  1  1   1
C  0  1  1  1  1  1  1  1  1  1  1  1  1  1  2  2   2
T  0  1  1  2  2  2  2  2  2  2  2  2  2  2  2  2   2
C  0  1  1  2  3  3  3  3  3  3  3  3  3  3  3  3   3
A  0  1  1  2  3  3  3  3  3  4  4  4  4  4  4  4   4
G  0  1  2  2  3  3  3  3  3  4  5  5  5  5  5  5   5
C  0  1  2  2  3  4  4  4  4  4  5  5  5  5  6  6   6
C  0  1  2  2  3  4  4  5  5  5  5  5  5  5  6  7   7
G  0  1  2  2  3  4  4  5  5  5  6  6  6  6  6  7   7
T  0  1  2  3  3  4  5  5  6  6  6  6  7  7  7  7   7
G  0  1  2  3  3  4  5  5  6  6  7  7  7  7  7  7   7
C  0  1  2  3  4  4  5  6  6  6  7  7  7  7  8  8   8
C  0  1  2  3  4  5  5  6  6  6  7  7  7  7  8  9   9
T  0  1  2  3  4  5  6  6  7  7  7  7  8  8  8  9   9
A  0  1  2  3  4  5  6  6  7  8  8  8  8  9  9  9  10

In [19]:
S1 = "abdace"
S2 = "babce"

In [20]:
DynamicProgrammingLCS(S1,S2)

Length of maximum LCS = 4.0

      b  a  b  c  e
   0  0  0  0  0  0
a  0  0  1  1  1  1
b  0  1  1  2  2  2
d  0  1  1  2  2  2
a  0  1  2  2  2  2
c  0  1  2  2  3  3
e  0  1  2  2  3  4

In [23]:
rec_answer = RecursiveLCS(S1,S2,0,0)

In [24]:
DynamicProgrammingLCS(S1,S2)

Length of maximum LCS = 4.0

      b  a  b  c  e
   0  0  0  0  0  0
a  0  0  1  1  1  1
b  0  1  1  2  2  2
d  0  1  1  2  2  2
a  0  1  2  2  2  2
c  0  1  2  2  3  3
e  0  1  2  2  3  4